[project]
	description = device_google_raven
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/heads/*"]
	abandon = group raviole-dev
	create = group raviole-dev
	forgeAuthor = group raviole-dev
	forgeServerAsCommitter = group raviole-dev
	label-Code-Review = -2..+2 group raviole-dev
	label-Verified = -1..+1 group raviole-dev
	push = group raviole-dev
	submit = group raviole-dev
